[submodule "home/.vim"]
	path = home/.vim
	url = git://github.com/Ihavanna/.vim.git
[submodule "home/.bash"]
	path = home/.bash
	url = git://github.com/Ihavanna/.bash.git
[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = git://github.com/Ihavanna/.emacs.d.git
