[submodule "home/.bash"]
	path = home/.bash
	url = git://github.com/iHavee/bash.git
	branch = master
	ignore = dirty
[submodule "home/.mutt"]
	path = home/.mutt
	url = git://github.com/iHavee/muttrc.git
	branch = master
	ignore = dirty
[submodule "home/.config/awesome"]
	path = home/.config/awesome
	url = git://github.com/iHavee/awesomerc.git
	branch = master
	ignore = dirty
[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = git://github.com/iHavee/emacs.d.git
	branch = master
	ignore = dirty
[submodule "home/.vim"]
	path = home/.vim
	url = git://github.com/iHavee/vimrc.git
	branch = master
	ignore = dirty
