[submodule "home/.vim"]
  path = home/.vim
  url = git://github.com/Ihavanna/.vim.git
  ignore = dirty
[submodule "home/.bash"]
  path = home/.bash
  url = git://github.com/Ihavanna/.bash.git
  ignore = dirty
[submodule "home/.emacs.d"]
  path = home/.emacs.d
  url = git://github.com/Ihavanna/.emacs.d.git
  ignore = dirty
[submodule "home/.mutt"]
	path = home/.mutt
	url = git://github.com/Ihavanna/.mutt.git
