[core]
	legacyheaders = false
	quotepath = false
	pager = less -+$LESS -FRX
	autocrlf = input
	safecrlf = true
	excludesfile = /Users/cnhavee/.gitignore_global
	editor = vim
	#pager = less -r
[user]
	name = Register
	email = registerdedicated@gmail.com
[diff]
	tool = diff
[alias]
	ll= log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%an, %cr)' --abbrev-commit
	l = log --stat --decorate --abbrev-commit --max-count=3
	sbp = submodule update --recursive --init
[color]
	branch = auto
	diff = auto
	status = auto
	grep = auto
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[gist]
	private = no
	browse = no
[github]
	user = registe
[push]
	default = matching
[web]
	browser = firefox
#[https]
#	proxy = socks5://127.0.0.1:1080
#[http]
#	proxy = socks5://127.0.0.1:1080
#	postBuffer = 524288000
