[core]
    legacyheaders = false
    quotepath = false
    pager = less -+$LESS -FRX
    #pager = less -r
[user]
    name = Havanna
    email = skykiss_2000@163.com
[remote "overlay"]
    url = git@github.com:Ihavanna/overlay.git
    url = git@bitbucket.org:Havanna/overlay.git
    url = git@gitorious.org:ihavanna/overlay.git
[remote "dotfiles"]
    url = git@github.com:Ihavanna/dotfiles.git
    url = git@bitbucket.org:Havanna/dotfiles.git
    url = git@gitorious.org:ihavanna/dotfiles.git
[remote "wiki"]
    url = git@github.com:Ihavanna/wiki.ihavanna.org.git
    url = git@bitbucket.org:Havanna/wiki.ihavanna.org.git
[diff]
    tool = diff
[alias]
    ll= log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset' --decorate --abbrev-commit --max-count=20
    l = log --stat --decorate --abbrev-commit --max-count=3
    # git svn asliases
    si = git si
    sr = git svn rebase
    sp = git svn dcommit
    sf = git svn fetch
[color]
    branch = auto
    diff = auto
    status = auto
    grep = auto
    ui = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
