! xterm setting
xterm*termName:             xterm
xterm*dpi:                  96
xterm*geometry:             80x24
xterm*autohint:             false
xterm*hinting:              true
xterm*hintstyle:            hintfull
xterm*antialias:            true
xterm*rgba:                 rbg
xterm*lcdfilter:            lcddefault
xterm*scrollBar:            false
xterm*loginshell:           true
xterm.cursorBlink:          true
xterm*borderLess:           true
xterm*cursorBlink:          true
xterm*borderWidth:          0
xterm*visualBell:           false
xterm*marginBell:           false

xterm*saveLines:            4096
xterm*eightBitInput:        false
xterm*altSendsEscape:       true
xterm*metaSendsEscape:      true

xterm*renderFont:           true
xterm*locale:               true
xterm*utf8:                 true
xterm*utf8Title:            true
xterm*faceName:             DejaVu Sans Mono
xterm*faceNameDoublesize:   Source Han Sans CN
xterm*faceSize:             11
xterm*cjkWidth:             false

#include                    ".Xresources.d/monokai"
!#include                   ".Xresources.d/solarized"

! emacs gui
Emacs.geometry:             120x42+20+10
